.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.head{
    display: flex; 
    width: 85%; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.data{
    display: flex;
    flex-direction: column;
    width: 85%; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.data div{
    display: flex;
    width: 100%;
    margin: 0;
}


.head h3{
    background-color: orange;
    color: white;
    font-size: x-large;
    font-weight: 900;
    width: 25%;
    padding: 10px 0px;
    border: 1px solid black;
    margin: 0;
}

.data div p{
    margin: 0;
    padding: 15.5px 0px;
    font-size: medium;
    font-weight: normal;
    width: 25%;
    padding: 10px 0px;
    border: 1px solid black;
}

@media(max-width:840px){
    .head{
        flex-direction: column;
        width: 40%;
        align-items: flex-end;
    }
    .head h3{
        width: 100%;
    }
    .wrapper{
        flex-direction: row;
    }
    .data{
        flex-direction: row;
        width: 100%;
    }
    .data div{
        flex-direction: column;
    }
    .data div p{
        width: 100%;
    }
}